<ion-header>
  <ion-toolbar>
    <ion-title class="title">Calculadora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>
<!--
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Valor 1</ion-label>
      <ion-input formControlName="valor1"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-label position="stacked">Valor 2</ion-label>
      <ion-input formControlName="valor2"></ion-input>
    </ion-item><br>

    <ion-list>
      <ion-item>
        <ion-label>Operações</ion-label>
        <ion-select value="somar" okText="Okay" cancelText="Cancelar">
          <ion-select-option value="somar">Somar</ion-select-option>
          <ion-select-option value="subtrair">Subtrair</ion-select-option>
          <ion-select-option value="multiplicar">Multiplicar</ion-select-option>
          <ion-select-option value="dividir">Dividir</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  -->

  <form [formGroup]="form">

    <ion-list>

      <ion-item>
        <ion-label position="stacked">Dividendo</ion-label>
        <ion-input formControlName="dividendo"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-label position="stacked">Divisor</ion-label>
        <ion-input formControlName="divisor"></ion-input>
      </ion-item><br>

    </ion-list><br>

    <ion-button id="operacao" [disabled]="form.invalid" expand="block" (click)="dividir()">Dividir Já!</ion-button>

    <p id="quociente" class="ion-text-center">{{quociente}}</p>

  </form>

  <form [formGroup]="form">

    <ion-list>

      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input formControlName="soma1"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input formControlName="soma2"></ion-input>
      </ion-item><br>

    </ion-list><br>

    <ion-button id="soma" [disabled]="form.invalid" expand="block" (click)="somar()">Somar Já!</ion-button>

    <p id="resultado" class="ion-text-center">{{resultado}}</p>

  </form>

  <form [formGroup]="form">

    <ion-list>

      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input formControlName="mult1"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input formControlName="mult2"></ion-input>
      </ion-item><br>

    </ion-list><br>

    <ion-button id="multiplica" [disabled]="form.invalid" expand="block" (click)="multiplicar()">Multiplicar Já!
    </ion-button>

    <p id="multiplicacao" class="ion-text-center">{{multiplicacao}}</p>

  </form>

  <form [formGroup]="form">

    <ion-list>

      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input formControlName="sub1"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input formControlName="sub2"></ion-input>
      </ion-item><br>

    </ion-list><br>

    <ion-button id="subtrai" [disabled]="form.invalid" expand="block" (click)="subtrair()">Subtrair Já!</ion-button>

    <p id="subtracao" class="ion-text-center">{{subtracao}}</p>

  </form>
  

</ion-content>